{% extends "index.html" %}
{% block content %}

<h1>Entre em contato</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, libero. Labore mollitia ipsum quibusdam hic?
<div class="linha2"></div>
<div class="formulario">
    Seu e-mail:
    <input type="email" name="" id="" class="email">
    Assunto:
    <input type="text" name="" id="" class="assunto">
    Descrição:
    <textarea name="Descrição" id="" cols="30" rows="10"></textarea>
    <button type="submit">Enviar</button>
{% endblock %}